<!DOCTYPE html>

 

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Sistema de Plano de Atendimento</title>
    <style>

table {
  width: 100%; /* Largura da tabela */
  height: 200px;
  overflow: auto; /* Adiciona rolagem se a tabela for maior que o container */
}

.rolagem {
  width: 100%; /* Largura da tabela */
  height: 700px;
  overflow: auto; /* Adiciona rolagem se a tabela for maior que o container */ /* Adiciona rolagem se a tabela for maior que o container */
}


thead {
  position: sticky; /* Fixa o cabeçalho na parte superior da tabela quando a rolagem é atingida */
  top: 0; /* Posiciona o cabeçalho no topo da tabela */
  background-color: #333; /* Cor de fundo do cabeçalho */
   /* Cor da fonte do cabeçalho */
}

tbody {
  overflow: auto; /* Adiciona rolagem se o conteúdo da tabela for maior que o container */
  
}


::-webkit-scrollbar {
  width: 0.4em;
  background-color: #F5F5F5;
}

/* Adiciona uma borda arredondada à barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #000000;
  
}
.light-table-filter {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #495057;
  font-size: 14px;
  outline: 0;
  padding: 6px 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.light-table-filter:focus{
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
#botaoSair{
  color: rgb(228, 215, 215);
  text-decoration: none;
  font-size: 13px;
  
  border-radius: 2px;
}
#botaoSair:hover{
  color: red;
}


    </style>
 
</head>


{% load static %}
<div class="pos-f-t">
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div style="color: white; ">
        {% if user.is_authenticated %}
        <h6 style="margin-left:3 px ;font-size: 13px;">Olá {{ user.get_username }}.</h6>
        <h6 style="font-size: 13px;">{{ today|date:'d/m/Y H:i' }}</h6>
        <a id="botaoSair"    href="/accounts/logout">Sair</a >
      </div>
    </div>
  </nav>
  {% endif %}


<body class="bg-secondary container-fluid">

  


  <div class="row bg-secondary justify-content-center mt-5 mb-5">
    
    <img src="{% static 'logo.png' %}" class="" alt="Logo Dataprev" style="width: 130px">
  </div>
    <h1 class="text-white mb-5 text-center">Sistema de Planejamento de Atendimento</h1>
  
  

  
<div class="filtro" style="display: flex; justify-content: space-between;">
 
  <input  type="search" class="light-table-filter" data-table2="table table-sm table-light table-hover table-bordered" placeholder="Pesquisar" style="margin-bottom: 10px;">
  <a style="height:38px ;" class="btn btn-primary " href="{% url 'criarPlano' %}" role="button "  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg>
    Criar Plano de Atendimento
    </a>
</div>

{% if plano_list %}
<div class="rolagem">
  
    <table  class="table table-sm table-light table-hover table-bordered  table table-striped" id="tabela">
      <thead  class="thead-dark" align="center"  >
        <tr >
          <th scope="col">#Id</th>
          <th scope="col">Sistema</th>
          <th scope="col">Data de criação</th>
          <th scope="col">Ultima modificação</th>
          <th scope="col">Status</th>
          <th scope="col">Versão</th>
          <th scope="col">Responsável</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody align="center" >
    {% for pl in plano_list %}

    
              <tr>
                
                <th scope="row" >{{ pl.id }}</th>
                <td>{{ pl.sistema }}</td>
                <td>{{ pl.created|date:'d/m/Y H:i' }}</td>
                <td>{{pl.modified|date:'d/m/Y H:i' }}</td>
                
                {% if pl.status == '1' %}
                
                <td >
                  
                  <div class="d-flex justify-content-center mt-2">

                    
                      
                      <p style="color:rgb(32, 82, 122);font-weight: bold;">Em elaboração</p>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == '' %}
                <td>
                  <div class="d-flex justify-content-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                      <p>ativo</p>
                    </svg>
                    
                  </div>
                  
                </td>
                {% elif pl.status == '2' %}
                <td>
                  <div class="d-flex justify-content-center mt-2">
                    
                      <p style="color: #f6a52f;font-weight: bold;">Em Aprovação</p>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == '3' %}
                <td>
                  
                      
                      
                      <p style="color: red;font-weight: bold;">Suspenso</p>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == '4' %}
                <td>
                  <div id="desativado2" class="d-flex justify-content-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      
                      <p style="color: #228b22;font-weight: bold;font-weight: bold;">Concluído</p>
                    </svg>
                  </div>
                </td>
                {% endif %}
                
                <!--<td> {{ pl.status }}</td>-->
                <td>
                  <div class="d-flex justify-content-center mt-2">{{ pl.versao }}</div>


                </td>
                <td>
                  <div class="d-flex justify-content-center mt-2">{{ pl.responsavel }}</div>

                </td>
                <td>
                  
                    <!-- class="d-flex justify-content-end bd-highlight" -->
                  <div align="center">


                    <a href="{% url 'ver' pl.id %}">


                    <button type="button" class="btn btn-outline-dark ml-2" title="Visualizar Plano" target="_blank" rel="noopener noreferrer">

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>

                    </button></a>
                    

                    <a href="{% url 'atualizar' pl.pk %}">
                    <button type="button" class="btn btn-outline-dark ml-2" title="Modificar Plano">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                      </svg>
                    </button></a>

                    <a href="{% url 'world' pl.id %}">
                    <button type="button" class="btn btn-outline-dark ml-2" title="Criar Documento Word">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 16 16">
                        <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg>
                    </button></a>

                      <a href="{% url 'desativar' pl.id %}">
                      
                        <button  type="button" class="btn btn-outline-success ml-2 mr-2" title="Concluir Plano" data-toggle="modal" data-target="#deleteModal" name="status" id="status"   value="4">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                          </svg>
                           </button></a>

                      <a href="{% url 'duplicar' pl.id %}"">
                        <button  type="button" class="btn btn-outline-dark ml-2 mr-2" title="Duplicar" data-toggle="modal" data-target="#deleteModal" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                           </button></a>

                           <a href="{% url 'versionar' pl.id %}">
                            <button  type="button" class="btn btn-outline-dark ml-2 mr-2" title="Versionar" data-toggle="modal" data-target="#deleteModal" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                              </svg>
                               </button></a>

                </div>
                

              </tr>

              
    {% endfor %}
    </tbody>
  </table>
  

  
  
  <script>



    (function(document,) {
      'use strict';
      var LightTableFilter = (function(Arr) {
        var _input;
        function _onInputEvent(e) {
          
          _input = e.target;
          
          var tables = document.getElementsByClassName(_input.getAttribute('data-table2'));
          
          Arr.find.call(tables, function(table) {
            Arr.find.call(table.tBodies, function(tbody) {
              
              Arr.find.call(tbody.rows, _filter,);
              

            });
          });
        }
    
        function _filter(row) {
          var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
          row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
          
        }
    
        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            
    
            Arr.find.call(inputs, function(input) {
              input.oninput = _onInputEvent;
              
            });
          }
        };
      })(Array.prototype);
    
      document.addEventListener('readystatechange', function() {
        
        if (document.readyState === 'complete') {
          LightTableFilter.init();
          
          
          
        }
      });
      
    })(document);
    
    
        </script>






<!--
<script>


  // Divide os dados da tabela em pedaços de 10 linhas cada
  var rowsPerPage = 10;
  var rows = $('#tabela tbody tr');
  var numPages = Math.ceil(rows.length / rowsPerPage);
  // Exibe a primeira página
  showPage(1);

  // Cria os botões de paginação
  for (var i = 1; i <= numPages; i++) {
    $('#pagination').append('<button class="page-button">' + i + '</button>');
  }
  // Adiciona um evento de clique aos botões de paginação
  $('.page-button').on('click', function() {
    showPage(parseInt($(this).text()));

    

  });

 

  // Exibe uma determinada página da tabela
  function showPage(page) {
    // Esconde todas as linhas da tabela
    rows.hide();
    // Exibe apenas as linhas da página atual
    rows.slice((page - 1) * rowsPerPage, page * rowsPerPage).show();
  }

  

</script>
-->



  <!-- Copyright -->
</footer>

<br>

</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #343a40;">
    © 2022 Copyright:
    <a class="text-white" href="https://www.dataprev.gov.br/">Dataprev</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>
{% endif %}
