<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Sistema de Plano de Atendimento</title>
</head>

<body class="bg-secondary container-fluid">

  <div class="row bg-secondary justify-content-center mt-5 mb-5">
    {% load static %}
    <img src="{% static 'logo.png' %}" class="" alt="Logo Dataprev" style="width: 130px">
  </div>
    <h1 class="text-white mb-5 text-center">Sistema de Planejamento de Atendimento</h1>
  <div class="d-flex bd-highlight mb-3">
  <div class="ml-auto p-2 bd-highlight">
    <a class="btn btn-success" href="{% url 'criarPlano' %}" role="button" target="_blank" rel="noopener noreferrer">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
      Criar Plano de Atendimento
      </a>

  </div>
</div>
{% if plano_list %}
<div>
    <table class="table table-sm table-light table-hover table-bordered">
      <thead class="thead-dark" align="center">
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Sistema</th>
          <th scope="col">Data de criação</th>
          <th scope="col">Ultima modificação</th>
          <th scope="col">Status</th>
          <th scope="col">Versão</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
    {% for pl in plano_list %}
              <tr>
                <th scope="row">{{ pl.id }}</th>
                <td>{{ pl.sistema }}</td>
                <td>{{ pl.created }}</td>
                <td>{{ pl.modified }}</td>
                {% if pl.status == '1' %}
                <<td>
                  <div class="d-flex justify-content-center mt-2">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == 'Ativo' %}
                <<td>
                  <div class="d-flex justify-content-center mt-2">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == '2' %}
                <<td>
                  <div class="d-flex justify-content-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>
                  </div>
                </td>
                {% elif pl.status == '3' %}
                <<td>
                  <div class="d-flex justify-content-center mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill d-flex align-content-center" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>
                  </div>
                </td>
                {% endif %}
                <!--<td> {{ pl.status }}</td>-->
                <td>
                  <div class="d-flex justify-content-center mt-2">{{ pl.versao }}</div>
                </td>
                <td>

                  <div class="d-flex justify-content-end bd-highlight">


                    <a href="{% url 'ver' pl.id %}">


                    <button type="button" class="btn btn-outline-dark ml-2" title="Visualizar Plano" target="_blank" rel="noopener noreferrer">

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>

                    </button>

                    </a>

                    <a href="{% url 'editar' pl.id %}">
                    <button type="button" class="btn btn-outline-dark ml-2" title="Modificar Plano">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                      </svg>
                    </button>
                    </a>

                    <a href="{% url 'world' pl.id %}">
                    <button type="button" class="btn btn-outline-dark ml-2" title="Criar Documento Word">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 16 16">
                        <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg>
                    </button>
                      </a>
                    <button type="button" class="btn btn-outline-danger ml-2 mr-2" title="Excluir Plano">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>

                  </td>

                </div>

              </tr>


    {% endfor %}
    </tdbody>
  </table>

  </div>
</body>
</html>

{% else %}
    <p>Nenhum Plano Cadastrado ou Disponivel</p>
</div>
</body>
</html>
{% endif %}
